@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<h1>List of categories</h1>

<table class="table table-sm">
    <thead>
        <tr>            
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Level</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
        <tr>
            <td>@category.Id</td>
            <td>@category.Name</td>
            <td>@category.CategoryLevel</td>
        </tr>
        }
        

    </tbody>
</table>