@model IEnumerable<BudgetCategory>

@{
    ViewData["Title"] = "Index";
}

<h1>List of budget categories</h1>

<table class="table table-hover text-center text-capitalize table-sm">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
        <tr>
            <td>@category.Id</td>
            <td>@category.Name</td>
            

            <td>
                @if (SignInManager.IsSignedIn(User) && (UserManager.GetUserId(User) == category.OwnerId))
                {
                    <a asp-action="edit" asp-controller="Categories" asp-route-id="@category.Id" class="btn btn-outline-primary btn-sm">Edit</a> <a asp-action="delete" asp-controller="Categories" asp-route-id="@category.Id" class="btn btn-outline-danger btn-sm form-inline">Delete</a>
                }
            </td>
        </tr>
        }


    </tbody>
</table>
